@page
@model kamjaService.Pages.Admin.SalesAnnouncement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>اطلاعیه های فروش</h2>
<hr />
<p>
    <a asp-page="Create"><h6>ایجاد اطلاعیه جدید</h6></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                تاریخ ثبت
            </th>
            <th>
                تگ سرگروه محصولات
            </th>
            <th>
                تگ گروه محصولات
            </th>
            <th>
                تگ محصولات
            </th>
            <th>
                نام فایل
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SalesAnnouncements) {
            var parentTag = Model.ParentTag.Where(t => t.SalesAnnouncementREF == item.SalesAnnouncementId).Select(t=>t.tag_name).FirstOrDefault();    
            var pgTag = Model.ProductGroupTag.Where(t => t.SalesAnnouncementREF == item.SalesAnnouncementId).Select(t=>t.tag_name).FirstOrDefault();    
            var pgingTag = Model.ProductGroupingTag.Where(t => t.SalesAnnouncementREF == item.SalesAnnouncementId).Select(t=>t.tag_name).FirstOrDefault();    
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <h6>@parentTag</h6>
            </td>
            <td>
                <h6>@pgTag</h6>
            <td>
                <h6>@pgingTag</h6>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.file_name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SalesAnnouncementId">ویرایش</a> |
                <a asp-page="./Delete" asp-route-id="@item.SalesAnnouncementId">پاک کردن</a>
            </td>
        </tr>
}
    </tbody>
</table>
