@page
@model kamjaService.Pages.Admin.ProductGroupingsClips.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductGroupingClips</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupingClips.productGroupingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupingClips.productGroupingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupingClips.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupingClips.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupingClips.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupingClips.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupingClips.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupingClips.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupingClips.FanniOrSalesInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupingClips.FanniOrSalesInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductGroupingClips.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
