@page "/technical/ProductGroupings"
@model kamjaService.Pages.ProductGroupings.IndexModel
@using System.IO;

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "/Pages/Shared/_FLayout.cshtml";
}
<link href="~/css/swiper-bundle.min.css" rel="stylesheet" />
<style>
    .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }

      .swiper-pagination-bullet-active {
        color: #fff;
        background: #dc3545;
      }
</style>
<h2>@Model.productGroupName</h2>
<table class="table" style="margin: 0">
    <tbody>
        <tr>
            <td>
                <form asp-page="./Index" method="get">
                    <div class="input-group search-container">
                        <input type="hidden" name="id" value="@Model.gID" />
                        <input type="text" class="form-control" placeholder="جستجو نام یا کد..." aria-label="جستجو" aria-describedby="basic-addon2" name="SearchString" value="@Model.CurrentFilter">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-light" style="margin-bottom:25px;min-height:200px;">
                <div class="card-body">
                    <h5 class="card-title">
                        کلیپ
                    </h5>
                    <div class="container-fluid">
                        <div class="row">

                            <div class="swiper clipSwiper">
                                <div class="swiper-wrapper">
                                    @{
                                        foreach (var clipsrc in Model.videoSrcList)
                                        {
                                            if (clipsrc != "wwwroot\\image\\no_image.png")
                                            {
                                                var clipsrc2 = clipsrc.Replace("wwwroot", "");
                                                var name = clipsrc2.Replace("\\video\\slider\\fanni\\"+@Model.groupRef+"\\", "").Replace(".mp4","");
                                                var title = @Model.productGroupingClips.Where(c => c.FanniOrSalesInfo == "Fanni" && c.name == name).Select(c => c.title).FirstOrDefault();
                                                <div class="swiper-slide" style="max-height:460px;padding-bottom:45px;">

                                                    <video style="width: 100%;" disablePictureInPicture controls name="media"  oncontextmenu="return false;" controlslist="nodownload">
                                                        <source src="@clipsrc2" type="video/mp4">
                                                    </video>
                                                    <div class="caption" style="position:absolute;top:285px;"><h6>@title</h6></div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="swiper-slide" style="max-height:460px">
                                                    <img src="~/image/no_image.png" style="width:auto;max-height: 250px;cursor: pointer;" />
                                                </div>
                                            }
                                        }

                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="ProductGroupingImageGallery" style="max-height:460px !important">

            <div class="card bg-light" style="margin-bottom: 25px;min-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">
                        گالری تصاویر
                    </h5>
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Swiper -->
                            <div class="swiper mySwiper" style="padding-bottom:58px;">
                                <div class="swiper-wrapper">
                                    @{
                                        
                                        foreach (var imgsrc in @Model.imageSrcList)
                                        {
                                            var imgsrc2 = imgsrc.Replace("wwwroot", "");

                                            <div class="swiper-slide" style="max-height:460px">
                                               <span id="zoomSliderImgOnClick" data-toggle="modal" data-target="#zoomSliderImageModal" data-value="@imgsrc2" onclick="zoomSliderImageFunc()">
                                                    <img src="@imgsrc2" style="width:auto;max-height: 250px;cursor: pointer;" />
                                                </span>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>

<table class="table table-hover table-striped  table-bordered">
    <thead>
        <tr>

            <th>
                کد محصول
            </th>
            <th>
                نام محصول
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductGrouping)
        {
            <tr onclick="location.href = '@(Url.Page("/PartGroupings/Index", new { id =@item.ProductGroupingId,name=@item.Name,code=@item.Number }))'">

                <td>
                    @Html.DisplayFor(modelItem => item.Number)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)


                </td>

            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="zoomSliderImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 col-sm-12 col-lg-12">
                    <img class="w-100 productImg" id="ZoomSliderModalImg" src="#">
                </div>

            </div>
            <div class="modal-footer col-12 col-sm-12 col-lg-12">
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/swiper-bundle-min.js"></script>
<script>
    //< !--Initialize Swiper-- >
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        effect: "fade",
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {           
            el: ".swiper-pagination",
            clickable: true,
            paginationClickable: true,
        
            renderBullet: function (index, className) {
            return '<span class="' + className + '">' + (index + 1) + "</span>";
          }
        }
    });

    var swiper = new Swiper(".clipSwiper", {
        cssMode: true,
        slidesPerView: 1,
        spaceBetween: 30,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        }
    });


    function zoomSliderImageFunc() {
        var src = document.querySelector('#ProductGroupingImageGallery .swiper-slide-active img').getAttribute('src');
        var image = document.getElementById('ZoomSliderModalImg');
        image.setAttribute('src', src);
        //var header = document.getElementById('colorImageModalHeader');
        //header.innerText = colorName;
        //
    }

console.log($.cookie("previousUrl", window.location.href, {path:"/"}));
</script>