@page
@model kamjaService.Pages.Admin.ProductImages.Step3.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2>اضافه کردن عکس محصول</h2>

<form method="post" id="creationForm">
    <table class="table">
        <thead>
            <tr>
                <th>
                    نام محصول
                </th>
                <th>
                    کد محصول
                </th>
                <th>
                    عکس آپلود شده در سرویس در صورت موجود
                </th>
                <th>
                    آپلود عکس محصول
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.productGroupings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        <img src="/image/Product/pic/@item.FileName" width="85" height="85" />
                    </td>
                    <td>
                        <div class="mb-3">
                            <label for="formFile" class="form-label"><button class="btn btn-danger" id="submit" onclick="uploadImg(event, '@item.Number', '@item.Name', '@item.GroupRef')"><h6 class="buttons_h6">آپلود</h6></button></label>
                            <input asp-for="UploadedFile" class="form-control form-control-sm form-control-file" id="file" type="file" style="padding:1px !important">

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    function uploadImg(e, code, name, groupRef)
    {
        console.log(e)
        console.log(code)
        console.log(name)
        e.preventDefault();
        var formData = new FormData(document.forms[0]);
        formData.append('code', code);
        formData.append('name', name);

        $.ajax({
            url: '',
            data: formData,
            contentType: false,
            processData: false,
            type: 'post',
            success: function (result) {
                if (result == "failed")
                    alert("اشکال در ارسال فایل");
                if (result == "success") {
                    alert("با موفقیت انجام شد")
                    window.location = "/Admin/ProductImages/Step3?id="+groupRef
                }
            }
        });
    }
</script>