@page
@model kamjaService.Pages.SalesInfo.IndexModel

@{
    ViewData["Title"] = "کمجا سرویس";
}
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h3>اطلاعات فروش</h3>


<button href="#productGroupCollapse" class="btn btn-light productGroupCollapseBtn" data-toggle="collapse">
    <h5>
        گروه محصولات<i class="arrow down"></i>
    </h5>
</button>
<div id="productGroupCollapse" class="collapse">
    <table class="table table-hover" style="margin: 0">
        <tbody>
            <tr>
                <td>
                    <form action="/SalesInfo/search/search" method="get">
@*                        <div class="form-actions no-color" style="margin-top:27px">
                            <p>
                                <h6>
                                    جستجو نام یا کد کل محصولات :
                                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                                    <button type="submit" class="btn btn-danger"><h6 class="buttons_h6">جستجو</h6></button>
                                </h6>
                            </p>
                        </div>*@
                        <div class="input-group search-container">
                          <input type="text" class="form-control" placeholder="جستجو نام یا کد کل محصولات..." aria-label="جستجو" aria-describedby="basic-addon2"  name="SearchString" value="@Model.CurrentFilter" >
                          <div class="input-group-append">
                            <button class="btn btn-danger" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button>
                          </div>
                        </div>
                    </form>

                </td>
            </tr>
            @foreach (var item in Model.Parent)
            {
                <tr onclick="location.href = '@(Url.Page("/Salesinfo/ProductGroups/Index", new { id = @item.ParentId }))'">
                    <td>

                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                </tr>
            }
            
        </tbody>
    </table>
</div>

<a class="productGroupCollapseBtn btn btn-light" asp-page="/SalesInfo/SalesAnnouncement/Index">
    <h5>اطلاعیه های فروش</h5>
</a>
<a class="productGroupCollapseBtn btn btn-light" asp-page="/SalesInfo/Colors/list" style="text-decoration:none">
    <h5>رنگ ها</h5>
</a>


    @if ((await AuthorizationService.AuthorizeAsync(User, "edris")).Succeeded
        || (await AuthorizationService.AuthorizeAsync(User, "IsShahrestanUser")).Succeeded
        || (await AuthorizationService.AuthorizeAsync(User, "IsKamjatehranUser")).Succeeded
        || (await AuthorizationService.AuthorizeAsync(User, "bahrami")).Succeeded
        //
    ) {    
        <a class="productGroupCollapseBtn btn btn-light" asp-page="/SalesInfo/sms/sms" style="text-decoration:none">
            <h5>ارسال کاتالوگ</h5>
        </a>
    }

   @* <button href="#crm" class="btn btn-light productGroupCollapseBtn" data-toggle="collapse">
        <h5>
            ارسال کاتالوگ<i class="arrow down"></i>
        </h5>
    </button>
    <div id="crm" class="collapse">
        <table class="table table-hover" style="margin: 0">
            <tbody>
                <tr onclick="location.href = '@(Url.Page("/Salesinfo/sms/sms"))'">
                    <td>
                        ارسال پیامک
                    </td>
                </tr>
            </tbody>
        </table>
    </div>*@

